*.pyc
data_files/debug_logs/*.log
data_files/debug_logs/lp_files/*
.DS_Store
*.ipynb_checkpoints

# ignore the PyCharm .idea config directory
.idea/*

# ignore all outputs
/output_files/*

# ignore new sqlite databases (that aren't already added) to prevent bloat.
*.sqlite

/developer_notes/*

/configs/*
