# Requirements for core model functionality
# python used = 3.12

# to use pip to install (in a venv, if desired):
# $: pip install -r requirements.txt

pyomo
ipython
matplotlib
pandas
numpy < 2.0  # currently, pyomo 6.7.3 is not yet updated to allow numpy 2.0.
joblib
salib
pydoe
pyutilib

graphviz
ipykernel
jupyter
jupyter_contrib_nbextensions
seaborn
tabulate
xlsxwriter
plotly
pyam-iamc

# Below required to update documentation
sphinx
# sphisphinx_rtd_theme <-- not available on PyPi
sphinx-rtd-theme
sphinxcontrib-htmlhelp
sphinxcontrib-serializinghtml
sphinxcontrib-bibtex
# nxcontrib-bibtex <-- not available on pypi

# new requirements
pytest
Deprecated
openpyxl
networkx
gravis
highspy
scipy
gurobipy
